{% extends 'mail/layout/_base.html' %}
{% block title %}Search Label{% endblock %}
{% load static %}
{% block css %}
{% endblock %}
{% block body %}
    <hr>

    <form method="post">{% csrf_token %}
        <div class="container flw_pic">
            <label><b>Labels:</b></label>
            <br>
            <select name="selected_label" multiple>
                {% for q in query %}
                    <option>{{ q }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" class="btn_blue">Add</button>
        </div>
    </form>
{% endblock %}