{% extends 'mail/layout/_base.html' %}
{% block title %}All Mail{% endblock %}
{% block body %}
    <div class="panel panel-default m-t-20">
        <div class="panel-body">
            <table class="table table-hover mails">
                {% for email in emails %}
                    <tbody>
                    <tr class="active">
                        <td class="mail-select">
                            <label class="cr-styled">
                                <input type="checkbox"><i class="fa"></i>
                            </label>
                        </td>
                        <td class="mail-rateing">
                            <i class="fa fa-star"></i>
                        </td>
                        <td>
                            <a href="/mail/mail-detail/{{ email.pk }} "style="text-decoration: none;"> {{ email.subject|truncatechars:5 }}</a>
                        </td>
                        <td>
                            <a href="/mail/mail-detail/{{ email.pk }}" style="text-decoration: none;">{{ email.text|safe }}</a>
                        </td>
                        <td>
                            <i class="fa fa-paperclip"></i>
                        </td>
                        <td class="text-right">
                            {{ email.created }}
                        </td>
                    </tr>


                    </tbody>
                {% endfor %}
            </table>

            <hr>
        </div> <!-- panel body -->
    </div> <!-- panel -->

    <div>
        {% if messages %}
            {% for message in messages %}
                <p{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    class="warn"
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    class="error"
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    class="success"
                {% endif %}>
                    {{ message }}
                </p>

            {% endfor %}
        {% endif %}
    </div>

    </div>
    </div><!-- End row -->
    <script>
        window.setTimeout(function () {
            $(".success").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>
{% endblock %}
