{% extends 'mail/layout/_base.html' %}
{% block title %}Filter Email{% endblock %}
{% load static %}
{% block body %}
    <hr>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="sender" placeholder="sender">
        <input type="text" name="word" placeholder="word">

                <select name="selected_label">
            {% for q in labels %}
            <option>{{ q }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="filter">

    </form>
{% endblock %}