{% extends 'mail/layout/_base.html' %}
{% block title %}Inbox{% endblock %}
{% block body %}
    <div class="panel panel-default m-t-20">
        <div class="panel-body">
            <table class="table table-hover mails">
                {% for email in emails_to %}
                    <tbody>
                    <tr class="active">
                        <td class="mail-select">
                            <label class="cr-styled">
                                <input type="checkbox"><i class="fa"></i>
                            </label>
                        </td>
                        <td class="mail-rateing">
                            <i class="fa fa-star"></i>
                        </td>
                        <td>
                            <a href="/mail/mail-detail/{{ email.pk }}"> {{ email.subject|truncatechars:5 }}</a>
                        </td>
                        <td>
                            <a href="/mail/mail-detail/{{ email.pk }}">{{ email.text|safe }}</a>
                        </td>
                        <td>
                            <i class="fa fa-paperclip"></i>
                        </td>
                        <td>
                            {{ email.created }}
                        </td>
                        <td class="text-right">
                            as to receiver
                        </td>
                    </tr>


                    </tbody>
                {% endfor %}
                {% for email in emails_cc %}
                    <tbody>
                    <tr class="active">
                        <td class="mail-select">
                            <label class="cr-styled">
                                <input type="checkbox"><i class="fa"></i>
                            </label>
                        </td>
                        <td class="mail-rateing">
                            <i class="fa fa-star"></i>
                        </td>
                        <td>
                            <a href="/mail/mail-detail/{{ email.pk }}"> {{ email.subject|truncatechars:5 }}</a>
                        </td>
                        <td>
                            <a href="/mail/mail-detail/{{ email.pk }}">{{ email.text|safe }}</a>
                        </td>
                        <td>
                            <i class="fa fa-paperclip"></i>
                        </td>
                        <td>
                            {{ email.created }}
                        </td>
                        <td class="text-right">
                            as cc receiver
                        </td>
                    </tr>


                    </tbody>
                {% endfor %}
                {% for email in emails_bcc %}
                    <tbody>
                    <tr class="active">
                        <td class="mail-select">
                            <label class="cr-styled">
                                <input type="checkbox"><i class="fa"></i>
                            </label>
                        </td>
                        <td class="mail-rateing">
                            <i class="fa fa-star"></i>
                        </td>
                        <td>
                            <a href="/mail/mail-detail/{{ email.pk }}"> {{ email.subject|truncatechars:5 }}</a>
                        </td>
                        <td>
                            <a href="/mail/mail-detail/{{ email.pk }}">{{ email.text|safe }}</a>
                        </td>
                        <td>
                            <i class="fa fa-paperclip"></i>
                        </td>
                        <td>
                            {{ email.created }}
                        </td>
                        <td class="text-right">
                            as bcc receiver
                        </td>
                    </tr>


                    </tbody>
                {% endfor %}
            </table>

            <hr>
        </div> <!-- panel body -->
    </div> <!-- panel -->

    </div>
    </div><!-- End row -->
{% endblock %}