{% extends 'mail/layout/_base.html' %}
{% block title %}SentBox{% endblock %}
{% block body %}
    <section>
        <div class="panel panel-default m-t-20">

            <div class="panel-body">
                <table class="table table-hover mails">
                    {% for email in sent_box %}

                        <tbody>

                        <tr>
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox"><i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star"></i>
                            </td>
                            <td>
                                <a href="/mail/mail-detail/{{ email.pk }}">{{ email.subject }}</a>
                            </td>
                            <td>
                                <a href="/mail/mail-detail/{{ email.pk }}">{{ email.text|safe }}
                                </a>
                            </td>
                            {% if email.is_starred %}
                                <td>
                                    <i class="fa fa-paperclip"></i>
                                </td>
                            {% endif %}
                            <td></td>
                            <td class="text-right">
                                {{ email.created }}
                            </td>
                        </tr>

                        </tbody>

                    {% endfor %}
                </table>
                <hr>

            </div> <!-- panel body -->

        </div> <!-- panel -->

        </div> <!-- end Col-9 -->
        </div>
    </section>
{% endblock %}