<!DOCTYPE html>
<html>
<head>
	<title>Email Retrieval completed successfully.</title>
</head>
<body>
	<div style="font-family: vazir; text-align: center;">
		<h1>Password reset request sent</h1>

		<p>We emailed you the password setup instructions. If there is an account with the email you entered, you should receive these instructions soon.</p>

		<p>If you do not receive an email, please check that the address you entered is the same as the one you registered with, and also check your spam folder.</p>
	</div>
</body>
</html>