{% block title %}
    <center>REGISTER HERE😊</center>{% endblock title %}
<hr style="color: #0f6674">
{% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="recovery"></label><select name="recovery" id="recovery" class="txt">
        <option value="email">Email</option>
        <option value="phone">Phone</option>
    </select>
        <p>Email</p>
        <label for="Email"></label><input type="email" class="txt" placeholder="Email" name="email" id="Email"
                                          disabled="disabled">
        <p>Phone</p>
        <label for="Phone"></label><input type="text" class="txt" placeholder="Phone" name="phone" id="Phone"
                                          disabled="disabled">

        <p>username</p>
        <label for="username"></label>
        <p id="username">{{ form.username }}</p>

        <p>Birthday</p>
        <p id="birthday">{{ form.birth_date }}</p>

        <p>Gender</p>
        <p id="gender">{{ form.gender }}</p>

        <p>Country</p>
        <p id="country">{{ form.country }}</p>

        <p>password</p>
        <p id="pasw1">{{ form.password1 }}</p>

        <p>password confirm</p>
        <p id="pasw2">{{ form.password2 }}</p>


        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#recovery").change(function () {
                    if ($(this).val() === 'email') {
                        $("#Email").removeAttr("disabled");
                        $("#Email").focus();
                        $("#Email").attr("required", "required");
                        $("#Phone").attr("disabled", "disabled");
                    }
                });
            });
            $(function () {
                $("#recovery").change(function () {
                    if ($(this).val() === 'phone') {
                        $("#Phone").removeAttr("disabled");
                        $("#Phone").focus();
                        $("#Phone").attr("required", "required");
                        $("#Email").attr("disabled", "disabled");
                    }
                });
            });
        </script>
        <button type="submit">Register</button>
    </form>
{% endblock content %}