<!-- Right Sidebar -->
<div class="col-md-9">
    <div class="row">
        <div class="col-lg-12">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-success"><i class="fa fa-inbox"></i></button>
                    <button type="button" class="btn btn-success"><i class="fa fa-exclamation-circle"></i>
                    </button>
                    <button type="button" class="btn btn-success"><i class="fa fa-trash-o"></i></button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                        <i class="fa fa-folder"></i>
                        <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                        <i class="fa fa-tag"></i>
                        <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                    </ul>
                </div>


                <div class="dropdown">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" style="height: 49px">
                        More
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-content">
                        <a href="/mail/create-signature">add signature</a>
                        <a href="{% url 'create-label' %}">create label</a>
                        <a href="{% url 'signatures' %}">Signatures</a>
                        <a href="/mail/labels">labels</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" style="height: 49px">
                        Search
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'search_email' %}">Search Email</a>
                        <a href="{% url 'filter-email' %}">Filter Email</a>
                        <a href="{% url 'search-label' %}">Search Label</a>
                    </div>
                </div>



                <div>
                    <a href="/contacts/all-contacts">
                        <svg style="margin-left: 200px;margin-top: 10px ;width: 25px; height: 25px; color: #1e7e34"
                             xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                        </svg>
                    </a>
                    <a href="/contacts/create-contact">
                        <svg style="margin-left: 10px;margin-top: 10px ;width: 25px; height: 25px; color: #1e7e34"
                             xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd"
                                  d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </a>
                    <a href="/logout/">
                        <svg style="margin-left: 30px;margin-top: 10px ;width: 25px; height: 25px; color: #1e7e34"
                             xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-door-closed" viewBox="0 0 16 16">
                            <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                            <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                        </svg>
                    </a>




                </div>
            </div>
        </div>

    </div> <!-- End row -->