{% extends 'base.html' %}
{#{% load static %}#}
{% block title %}Update Email{% endblock title %}
{% block content %}
<form method="post">{% csrf_token %}
    <div class="container flw_pic">

            <label><b>Trash</b></label><br>
            {{ form.is_trash}}<br>
            <label><b>Archive</b></label><br>
            {{ form.is_archive }}<br>
            <label><b>Draft</b></label><br>
            {{ form.is_draft}}<br>
            <button type="submit" class="btn_blue">Update</button>


        </div>
</form>
{% endblock content %}