{% extends 'base.html' %}

{% block title %}Email Detail{% endblock title %}

{% block content %}
    <p>receiver as bcc receiver:</p>
    {% for receiver in object.bcc.all %}
        {% if user.get_username == receiver.username %}
            <p style="color: red">
                {{ receiver.username }}
            </p>
        {% endif %}
    {% endfor %}


    <p>receiver as to receiver:</p>
    {% for receiver in object.receivers.all %}
        <p style="color: green">
            {{ receiver.username }}
        </p>
    {% endfor %}

    <p>receiver as cc receiver:</p>
    {% for receiver in object.cc.all %}
        <p style="color: yellowgreen">
            {{ receiver.username }}
        </p>
    {% endfor %}


    <div>sender: {{ object.sender }}</div>

    <div>trash: {{ object.is_trash }}</div>

    <div>draft: {{ object.is_draft }}</div>

    <div>archive: {{ object.is_archive }}</div>

    <div>subject: {{ object.subject }}</div>

    <div>text: {{ object.text }}</div>

    {#<div>file: {{ object.file }}</div>#}
    <p style="color: #0f6674">Files</p>
    {% if object.file %}
        <a href="/media/{{ object.file }}">{{ object.file }}</a>
    {% endif %}

    <div>signature: {{ object.signature }}</div>

    <p>labels:</p>
    {% for label in object.label.values %}
        <li><a href="/mail/labels/{{ label.slug }}">{{ label.title }}</a></li>
    {% endfor %}


    {% if object.email_object %}
        <div style="color: #062c33">this is email that replied or forwarded</div>
        <div style="color: #6f94c6">{{ object.email_object.text }}</div>
        <div style="color: #6f94c6">{{ object.email_object.subject }}</div>
    {% endif %}

    <br>

    <div>
        <button style="background: red; color: white; padding: 5px;"><i class="fa fa-trash"></i>
            <a href="{% url 'delete-email' email.pk %}" style="color: white">Delete</a>
        </button>
    </div>

    <br>

    <div>
        <button class="btn_blue flw_pic" style="background: royalblue; color: white; padding: 5px;"><i
                class="fa fa-edit"></i><a href="{% url 'edit_email' email.pk %} " style="color: white">edite category
        </a></button>
    </div>

    <br>


    <button class="btn_blue flw_pic">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
        </svg>
        <a
                href="{% url 'add-label' email.pk %}">Add label
        </a></button>

    <br>
    <br>

    {% if email.is_draft %}
        <button><a href="{% url 'send-from-draft' email.pk %}">send draft email</a></button>
    {% endif %}

    <div>
        <a href="{% url 'forward-email' email.pk %}">
            <svg style="margin: 2rem; color: goldenrod; width: 50px; height: 50px;" xmlns="http://www.w3.org/2000/svg"
                 width="16" height="16" fill="currentColor" class="bi bi-forward-fill" viewBox="0 0 16 16">
                <path d="m9.77 12.11 4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557z"/>
            </svg>
        </a>

        <a href="{% url 'reply-email' email.pk %}">
            <svg style="margin: 2rem; color: goldenrod; width: 50px; height: 50px;" xmlns="http://www.w3.org/2000/svg"
                 width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
                <path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
            </svg>
        </a>
    </div>

{% endblock content %}